body {
    padding-top: 100px;
}

.side-right .info .list-group-item{
    border: 0px none;
    border-bottom: 1px dashed #D9D9D9;
    padding-bottom: 25px;
}
.side-right .info .list-group-item-text{
    line-height: 22px;
}


.side-right .more-info {
    font-size: 14px;
    line-height: 28px;

}


.side-right .info a.list-group-item:hover{
    background-color: #FFF;
}

.side-right .list-group-item-heading{
    display: inherit;
    color: #3F3F3F;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}

.side-left{
    border-left: 1px solid #CCC;
    overflow: hidden;
  }

.side-left ul li{
    list-style-type: none;
    margin: 6px 0px;
  }
 .side-left li{
    line-height: 20px;
  }