<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "playline/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "playline/css/style.css" %}">
    {% block stylesheets %}
    {% endblock %}
    <script src="{% static "playline/js/jquery.min.js" %}"></script>
    <script src="{% static "playline/js/bootstrap.js" %}"></script>
    <script src="{% static "playline/js/auth.js" %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wo-go-top"><div class="wo-arrow"></div><div class="wo-stick"></div></div>
    <div class="navbar navbar-inverse navbar-fixed-top header">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand" title="教易首页"><strong>教易</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="responsive-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#"><strong>课程音乐</strong></a></li>
                </ul>
                {% block tab %}
                    
                {% endblock %}
                <div class="profile navbar-right">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle"data-toggle="dropdown" href="javascript:void(0)">{{ user.get_full_name|default:user.username }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="my_info"  >我的主页</a></li> 
                                    <li><a href="#" class="my_info">帐号设置</a></li>   
                                    <li><a id="logout" href="{% url 'auth:logout' %}?next={{ request.path }}" class="logout" target="_self">退出</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a class="js-bindweibo" href="javascript:;"><i class="icon-sign icon-sign-sina"></i>登录</a></li>
                            <li><a class="js-bindqq" href="javascript:;"><i class="icon-sign icon-sign-qq"></i>登录</a></li>
                        {% endif %}   

                    </ul>
                </div>
                    <form action="/search" class="navbar-form navbar-right">
                        <input type="text" placeholder="搜课程" class="form-control" name="q" >
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
            </div>
        </div>
    </div>
    {% block body_block %}

    {% endblock %}
    <div class="footer">
        <div class="footer-about">
              <div class="container">
                     <div class="row">
                            <div class="col-md-6">
                                   <div class="row">
                                          <div class="col-md-3"><span><a href="#">关于记录</a></span></div>
                                   </div>       
                            </div>
                            <div class="col-md-6">
                                   <div class="row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-8"><span>Copyright © 记录 2015 All Rights Reserved </span></div>
                                    </div> 
                            </div>
                     </div>
              </div>
        </div>
</div>
<script>$(function() {if(($('.header').height()+$('.main').height()+$('.footer').height())<$('body').height())$('.main').css('height','100%');});
            (0,window.$)(".js-bindweibo").click(function(){auth('sina')});
            (0,window.$)(".js-bindqq").click(function(){auth('qq')});
    </script>
</body>
</html>